NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=
DATABASE_SSL=true
PUBLIC_APP_URL=
RESEND_API_KEY=
RESEND_FROM_EMAIL=info@schoeninkoeln.de
ADMIN_PASSWORD=admin
MAIL_TO_STUDIO=info@schoeninkoeln.de
BANK_ACCOUNT_HOLDER=
BANK_NAME=
BANK_IBAN=
BANK_BIC=
