NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=
DATABASE_SSL=true
RESEND_API_KEY=
RESEND_FROM_EMAIL=info@schoeninkoeln.de
ADMIN_PASSWORD=admin
SMTP_HOST=smtp.ionos.de
SMTP_PORT=587
SMTP_USER=info@schoeninkoeln.de
SMTP_PASS=
MAIL_FROM=info@schoeninkoeln.de
MAIL_TO_STUDIO=info@schoeninkoeln.de
BANK_ACCOUNT_HOLDER=
BANK_NAME=
BANK_IBAN=
BANK_BIC=
